.contents{
    padding-top: 100px;
}

.top img{
    width: 100%;                         
    height: 400px;                                       
    max-width: 100vw;
    object-fit: cover;
}

.top p {
    font-size: 21.33px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 20px;
    padding-inline: 50px;
}

.top h1 {
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-inline: 50px;
}

.top h3 {
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-inline: 50px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.body p {
    padding: 50px;
    max-width: 900px;
}

hr {
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #000;
}

.travel-vid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-inline:50px;
    padding-bottom: 50px;
}

.video{
    width:100%;
    max-width: 900px;
    height:500px;
    border:none;
    object-fit: cover;
}

.travel-vid iframe {
    width: 100%;                         
    height: auto;                        
    aspect-ratio: 16 / 9;                
    max-width: 1050px;                 
}

.navbar-custom{
    position: fixed !important;
    width: 100vw;
}

@media (max-width: 768px) {
    .top p {
        font-size: 18px;
    }

    .top h1 {
        font-size: 60px;
    }

    .top h3 {
        font-size: 28px;
    }

    .body p {
        font-size: 16px;
    }

    .top img {
        height: 300px;
    }

    footer p{
        font-size: 14px !important;
    }
}

@media (max-width: 576px) {
    .top p {
        font-size: 14px;
    }

    .top h1 {
        font-size: 32px;
    }

    .top h3 {
        font-size: 18px;
    }

    .body p {
        font-size: 14px;
    }

    .top img {
        height: 200px; 
    }

    footer p{
        font-size: 12px !important;
    }
}