/*PUT YOUR CUSTOM STYLE HERE*/

/*!This style is important, do not override!*/
* {
	margin: 0;
	padding: 0;
}

:root {
	--titleFont: 'Acorn', sans-serif;
	--paragFont: 'Rubik', sans-serif;
}

body {
	color: #3B0017;
}

.main-content {
	color: #3B0017;
	overflow: hidden;
}

.title {
	text-align: center;
	font-family: var(--titleFont);
	font-weight: 700;
}

.intro {
	text-align: center;
	width: 70vw;
	font-family: var(--paragFont);
	font-weight: 100;
}

.desc {
	font-family: var(--paragFont);
}

.card {
	overflow: hidden;
	border: none !important;
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
	width: 100%;
}

.card:hover {
	cursor: pointer;
}

.card:hover img {
	transform: rotate(2deg) scale(1.1);
}

.card-container {
	height: 300px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: stretch;

}

.card img {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: ease-in-out 200ms;
}

.card p {
	position: absolute;
	bottom: 0;
	color: white;
	font-weight: 500;
	text-align: start;
	font-size: 20px;
	transition: ease-in-out 200ms;
}

.gradient-overlay {
	position: absolute;
	background: linear-gradient(184deg, rgba(0, 0, 0, 0.00) 45.97%, rgba(0, 0, 0, 0.50) 82.37%);
	width: 100%;
	height: 100%;
}

.btn-redirect {
	border: 1px solid white;
	background-color: transparent;
	color: white;
	padding-inline: 50px;
	padding-block: 18px;
	font-size: 16px;
	transition: background-color 0.3s ease, color 0.3s ease;
	border-radius: 50px;
	text-align: center;
	font-style: normal;
	line-height: normal;
	width: max-content;
	font-weight: 500;
	font-family: var(--paragFont);
	margin-top: 20px;
}

.btn-redirect:hover {
	color: #3B0017;
	background: white;
	border-radius: 50px;
	border: 1px solid transparent;
}

.overlay a {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.video-container {
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.video-container iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.video-container .overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.61);
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.8s ease-out, transform 0.6s ease-out;
}

.animated {
    opacity: 1;
    transform: translateY(0);
}
