* {
    font-family: 'SF Pro Display';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;         
    overflow-x: hidden;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #D9D9D9;
}

.content-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 56px;
    margin-bottom: 50px;
}

#iphone16-title {
    text-align: center;
}

.content-title h4 {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    margin-top: 50px;
}

.iphone16-rear-cam-big {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(360deg, #F2BCDF 7.49%, #FFF 96.88%);
    height: 416px;
    flex-wrap: wrap;
}

.iphone16-rear-cam-big img {
    margin-top: 48px;
    margin-right: 846px;
}

.camera-showcase {

    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.camera-showcase h1 {
    margin-bottom: 100px;
    color: #6E81D4;
    text-align: center;
    font-size: 80px;
    font-weight: 500;
    font-style: normal;
}

.camera-showcase img {
    margin-left: 50px;
    max-width: 70%;
    height: auto;
}

#selfie{
    
    margin-left:150px;
    align-self: flex-start;
    text-align: center;
    font-size: 38px;
    font-weight: 300;
    

}
#rear{

    margin-left:1000px;
    align-self: flex-start;
    text-align: center;
    font-size: 38px;
    font-weight: 300;
    
}

.apple-intelligence{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 140px;
}

.apple-intelligence h1{
    text-align: center;
    font-size: 80px;
    font-style:normal;
    font-weight: 500;

    background: linear-gradient(
        270deg, 
        #E30000 24.49%, 
        #D99000 40.09%, 
        rgba(244, 0, 117, 0.56) 53.22%, 
        #F500FA 68.62%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.apple-intelligence p{
    margin-top: 50px;
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.a18-showcase{
    
    position: relative;
    width: 100%;      
    height: auto;      
    object-fit: cover; 
    display: block;     
    overflow: hidden;

}