body {
    font-family: "Geist", sans-serif;
}

.container-row {
    height: 100vh;
}

.main-panel {
    display: flex;
    flex-direction: column;
}

* {
    text-overflow: ellipsis;
}

/* PRODUCTS */
.categories {
    height: 20%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
}

.categories .scroll-container {
    overflow-x: auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.categories .card {
    height: 100px;
    width: 100px;
    transition: background-color 0.3s;
    overflow: hidden;
}

.categories img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.catalog {
    height: 80%;
    display: flex;
}

.catalog .menu {
    height: 78vh;
    display: flex;
    flex-direction: column;
}

.catalog .sizes {
    height: 100%;
}

.menu .scroll-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.menu .item {
    height: 200px;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: background-color 0.3s;
}

.categories .card:hover {
    cursor: pointer;
    border: 1px solid #634832;
    background-color: #DBC1AC;
}

.menu .item:hover,
.sizes .card:hover,
.quantity button:hover {
    cursor: pointer;
    border: 1px solid #634832;
    background-color: #DBC1AC;
    color: #38220F;
}

.menu .icon {
    height: 150px;
    width: fit-content;
    overflow: hidden;
}

.icon img {
    height: 100%;
    object-fit: cover;
}

/* SIZES */
.sizes .card {
    height: 100px;
    text-align: center;
    font-size: 22px;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s;
}

.size-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* RECEIPT */
.receipt {
    height: 75vh;
    overflow-x: auto;
}

.receipt .scroll-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.receipt .top-label,
.receipt .receipt-item {
    border-bottom: 0.5px solid #d5d5d5;
    width: 100%;
    min-width: 400px;
}

.quantity button {
    border-radius: 500px;
    background: transparent;
    border: 0.5px solid gray;
    color: gray;
    height: 40px;
    width: 40px;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.quantity button:hover {
    font-weight: 500;
    background-color: #967259;
    color: white;
    border-color: transparent;
}

.receipt-item .fa-trash {
    color: #634832;
}

.receipt-item .fa-trash:hover {
    cursor: pointer;
}

.order-name {
    width: 100px;
}

.controls-right {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.controls-right button {
    width: 100%;
}

.total {
    display: flex;
    height: 100%;
    font-size: 1.5rem;
}

.lbl-total {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 1.5rem;
    color: #38220F;
}

.btn-clear {
    background: #DBC1AC;
    color: #634832;
    border: none;
    height: 50px;
}

.btn-complete {
    background: #967259;
    color: white;
    border: none;
    height: 50px;
}

@media(max-width:768px) {

    .categories .card{
        height: 80px;
    }

    .menu .item{
        height: 150px;
    }

    .sizes .card{
        height: 50px;
        font-size: small;
    }

    .lbl-total {
        font-size: 22px;
    }

    .btn-clear {
        height: 40px;
    }

    .btn-complete {
        height: 40px;
    }

}

@media(max-width:568px){
    .categories .card{
        height: 50px;
    }

    .menu .item{
        height: 120px;
    }
}