/* PARALLAX.CSS */
/*CSS created by Christopher Jay De Claro*/
/*github.com/cjdeclaro*/

/*Key Art default settings*/

.keyart,
.keyart_layer {
	height: 800px;
}

.keyart {
	position: relative;
	z-index: 10;
}

.keyart_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}

.keyart_layer.parallax {
	position: fixed;
}

.main-content {
	width: 100%;
	position: absolute;
	z-index: 200;
}

.main-content{
	font-family: "Rubik", sans-serif;
	color: white;
}

/*ADD OR REMOVE LAYERS AS NEEDED*/

#keyart-0 {
	background-image: url(assets/img/parallax0.png);
}

#keyart-1 {
	background-image: url(assets/img/parallax1.png);
}

#keyart-2 {
	background-image: url(assets/img/parallax2.png);
}

#keyart-3 {
	background-image: url(assets/img/parallax3.png);
}

#keyart-4 {
	background-image: url(assets/img/parallax4.png);
}

#keyart-5 {
	background-image: url(assets/img/parallax5.png);
}

#keyart-6 {
	background-image: url(assets/img/parallax6.png);
}

#keyart-7 {
	background-image: url(assets/img/parallax7.png);
}

#keyart-8 {
	background-image: url(assets/img/parallax8.png);
}

#keyart-9 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Acorn', sans-serif;
	font-weight: 700;
	font-size: 150px;
	color: #3B0017;
	padding-bottom: 125px;
}

#keyart-10 {
	background-image: url(assets/img/parallax10.png);
}

#keyart-scrim {
	opacity: 0;
}

@media (max-width:769px){
	#keyart-9{
		font-size: 100px;
	}
}

@media (max-width: 576px) {
	#keyart-9{
		font-size: 80px;
	}
}